			a{
				text-decoration: none!important;
				color: inherit;
			}
			ul#menuprinc li{
				position:relative;
				list-style: none;
				display: inline;
			}

			#menuprinc{
				padding-top: 30px;
				float: right;
				

			}
			nav{
				opacity:0.95;
				z-index:100;
				position:fixed;
				width:100%;
				text-align:center;
				top:0px;
				left:0px;
				height:80px;
				background: #7ABE4B;
				box-sizing: border-box;
				padding-left:20%;
				padding-right:20%;
			}
			nav a#iconp{
				float:left;
				top:0px;
				font-size:40px;
				left: 0px;
				color:#f20;
				padding:13px;
				text-shadow:#f20 1px 0px 1px;
			}
			.ep{
				padding: 27px;
				background:#7ABE4B;
				color:white;
				width: 100px;
				font-size:18px;
			}
			.ep:hover{
				border-bottom: solid #E67E22;
				color:white;
			}
			.ep:active  {
				color:#f20; 
				border-bottom: solid #E67E22; 
				background:white;
			}
			
			
			#formwrap{
				margin-top: 200px;
				height: 300px;
				border-radius: 10px;
				background-color:  white;
				border: solid #7ABE4B;
				padding:0;
			}
			
			.formLabel{
				margin: 0;
				background: whitesmoke; 
				padding: 20px;
				color: black;
				border-top-left-radius:8px;
				border-top-right-radius:8px;
			}
			
			.avaliable{
				font-size: 15px;
			    margin-left: 7px;
			    color: green;
			}
			.checkpass{
				font-size: 15px;
			    margin-left: 7px;
			}

			.contentMenu div{
				background: white;
				border: solid #7ABE4B;
				height: 300px;
			}

			.separator{
				height: 50px;
			}

			.option:HOVER{
				background: whitesmoke;
				cursor: pointer;
			}

